<%- include ('partials/header'); -%>

<h1>This is the home page</h1>

<img src="https://cdn1-www.dogtime.com/assets/uploads/2017/10/pomsky-dog-breed-pictures-header.jpg" alt="">

<%- include('partials/footer'); -%>