<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Anime App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    </head>
    <body>
        <header>
            <div class="ui top fixed inverted menu borderless">
                <div class="ui container">
                    <div class="header item">
                        <i class="film icon"></i>
                    </div>
                    <a class="item" href="/animes">Home</a>
                    <a class="item" href="/animes/new">New Anime</a>
                    <div class="right menu">
                        <a href="" class="item">Log In</a>
                        <a href="" class="item">Sign Up</a>
                    </div>
                </div>
            </div>
        </header>
            
    